/*setting for body*/

/* #body{ */ 
    body { /* i changed the wrong code */
	background-color: cadetblue;
	text-align: center;
    font-family: Verdana, Tahoma, Helvetical;
    font-size: 12px
}

/*setting for main layout*/
#layout{
	/*background: #fff;*/ background-color: aliceblue; /*i changed the color*/
	width: 980px;
	margin: auto;
	text-align: left;
	padding: 2px;
    border: 5px solid skyblue; /*i add border*/
}

/*setting for the header*/
#header{
	width: 100%;
	height: 130px;
	/*background-color: black;*/ background-color: brown; /*i changed the color*/
    background-image: url(yulli1.jpg);
	position: relative;
}

#header{
	width: 100%;
	height: 130px;
}

/*setting for menu */

#menu{
	width: 100%;
	height: 40px;
	background-color: lightskyblue;
	position: relative;
}

#menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li{
	float: left;
}

#menu ul li a{
	float: left;
	color: white;
	padding: 12px 20px;
	text-decoration: none;
	background: lightskyblue;
	border-left: 1px solid white;
	border-right: 1px solid white;
	text-shadow: 0 -1px 1px rgba(0,0,0,0,6);
}
/*
#menu ul li a:hover{
	color: white;
	background:solid black;	
} 
i changed it becuase it have the wrong code */
#menu ul li:hover a{
	color: #3479CF;
	background: #fff;	
}
/*setting for runningtext*/

#runningtext{
	width: 100%;
	height: 25px;
	padding-top: 7px;
	margin: 5px 0 5px 0;
	/*background-color: black;*/ background-color: cadetblue;/* we change the color */
	color: white;
	position: relative;
}

/*setting for the footer*/
#footer{
	width: 100%;
	height: 50px;
	margin-top: 5px;
	padding-top: 30;
	background-color: lightskyblue;
	color: white;
	font-size: 16pt;
	text-align: center;
	position: relative;
	clear: both;
}
