<!DOCTYPE>
<html>
    * {
	margin: 0;
	padding: 0;
  }

body {
	/*background color: white*/ background-image: url("Orange%20Peachy%20Keen%20Wallpaper.jpg"); /*i change the background*/
	font-family: fantasy;
	font-size: 12px;
	line-height: 20px;
	color: #222;
     }

a {
 	text-decoration: none;
	color: #99AECD;
  }

a:hover {
	text-decoration: underline;
	color: #4F5D7F;
       }

#wrap {
	margin: 20px auto 10px auto;
	width: 800px;
	background: #99CCCC;
	padding: 10px;
}

#header {
	height: 160px;
background: #008B8B url(images/header.jpg) no-repeat;
}
#header h1 { 
    font-family: sans-serif;
font-size: 50px;
letter-spacing: 10px;
padding: 20px 0 0 10px;
color: #FF5500;
}
#header h1 a { 
color: #FF6633;
text-decoration: none;
font-weight: 600;
letter-spacing: 17px;
}
#header h1 a:hover {
color: #fff;
}

#menu {
height: 30px;
line-height: 30px;
background: #245;
}
#menu ul {
list-style-type: none;
padding-left: 30px;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
padding: 0 20px 0 0;
text-decoration: none;
font-weight: 600;
font-size: 12px;
color: #fff;
}
#menu ul li a:hover {
color: #aaa;
text-decoration: none;
}

#content {
padding: 0 20px 20px 0;
}

.right {
float: right;
width: 600px;
text-align: justify;
padding-top: 5px;
}
.right h2 {
font-size: 18px;
font-weight: 100;
padding: 15px 0 7px 0;
}
.right h2 a {
text-decoration: none;
}
.right h2 a:hover {

}

.left {
float: left;
width: 160px;
padding-top: 10px;
}
.left h2 {
margin: 10px 0 0 0;
padding-left: 10px;
height: 24px;
line-height: 24px;
color: #7988AF;
font-size: 15px;
}
.left ul {
padding: 10px 0 15px 30px;
list-style-type: square;
color: #CC6666;
}
.left ul li a {
text-decoration: none;
font-weight: 600;
}
.left ul li a:hover {

}

#footer {
text-align: center;
font-size: 12px;
color: #FF6633;
}
#footer a { color: #FF6666; }
#footer a:hover { color: #111; }
</html>
