<!DOCTYPE>
<html>
    * {
	margin: 0;
	padding: 0;
  }

body {
    background-image: url(fika1.jpg);/*i change the background*/
	font-family:"algerian" Serif;
	font-size: 12px;
	line-height: 20px;
	color: yellow;
     }

a {
 	text-decoration: line-through;
	color: orchid; /* I CHANGE THE COLOR*/
  }

a:hover {
	text-decoration: underline;
	color: #FFA500; /*change */
       }

#wrap {
	margin: 80px auto 60px auto;
	width: 800px;
	background: dodgerblue ;/* I CHANGE THE COLOR */
	padding: 10px;
	/*I DELETED BORDER */
}
